{% extends "StoreBackendBundle::layout.html.twig" %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">

        var conn = new WebSocket('ws://localhost:8080');

        conn.onopen = function(e) {
            console.log("Connection established!");
        };

        conn.onmessage = function(e) {
            $('#store_backend_product_ref').val(e.data);
        };

        function send(message) {
            waitForSocketConnection(conn, function() {
                conn.send(message);
            });
        };


        function waitForSocketConnection(socket, callback){
            setTimeout(
                    function(){
                        if (socket.readyState === 1) {
                            if(callback !== undefined){
                                callback();
                            }
                            return;
                        } else {
                            waitForSocketConnection(socket,callback);
                        }
                    }, 5);
        };

        $('input').keyup(function(){
            send($(this).val());
        });

        init.push(function () {
            $("textarea").markdown({ iconlibrary: 'fa' });
        });
    </script>
{% endblock %}

{% block titlepage %}
    <i class="fa fa-plus"></i> Création de produit
{% endblock  %}

{% block content %}

    <div class="alert alert-info">
        <button class="close">X</button>
        <strong><i class="fa fa-info"></i> Information: </strong> Remplissez votre page produit ici avec le maximum d'information sur votre bijoux.<br />
        Plus les informations sont détaillées à propos de votre bijoux, plus vos clients seront bien renseignés
    </div>
    {{ include('StoreBackendBundle:Product:_form.html.twig') }}

{% endblock %}