{% extends "StoreBackendBundle::layout.html.twig" %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        init.push(function () {
            $("textarea").markdown({ iconlibrary: 'fa' });
        });
    </script>
{% endblock %}

{% block titlepage %}
    <i class="fa fa-plus"></i> Création de produit
{% endblock  %}

{% block content %}

    <div class="alert alert-info">
        <button class="close">X</button>
        <strong><i class="fa fa-info"></i> Information: </strong> Remplissez votre page produit ici avec le maximum d'information sur votre bijoux.<br />
        Plus les informations sont détaillées à propos de votre bijoux, plus vos clients seront bien renseignés
    </div>
    {{ include('StoreBackendBundle:Product:_form.html.twig') }}

{% endblock %}