{% extends "StoreBackendBundle::layout.html.twig" %}

{% block classname %}theme-default main-menu-animated page-profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/backend/stylesheets/pages.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        init.push(function () {
            $('#profile-tabs').tabdrop();
            $("textarea").markdown({ iconlibrary: 'fa' });
            $("#leave-comment-form").expandingInput({
                target: 'textarea',
                hidden_content: '> div',
                placeholder: 'Write message',
                onAfterExpand: function () {
                    $('#leave-comment-form textarea').attr('rows', '3').autosize();
                }
            });
        })
    </script>

{% endblock %}

{% block titlepage %}
    <i class="fa fa-user"></i> Mon compte
{% endblock  %}

{% block content %}
    <div class="profile-full-name">
        <span class="text-semibold">Boutique de Boyer Julien</span>'
    </div>
    <div class="profile-row">
    <div class="left-col">
        <div class="profile-block">
            <div class="panel profile-photo">
                <img src="{{ app.user.image }}" alt="" class="">
            </div><br>
            <a href="#" class="btn btn-info"><i class="fa fa-heart"></i>&nbsp;&nbsp;8</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-success"><i class="fa fa-random"></i>&nbsp;&nbsp;5</a>&nbsp;&nbsp;
            <a href="#" class="btn btn-default"><i class="fa fa-truck"></i>&nbsp;&nbsp;5</a>&nbsp;&nbsp;
        </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-pencil"></i > Description</span>
            </div>
            <div class="panel-body">
                Pandora SA est un fabricant danois de bijoux fondé en 1982 par les orfèvres Per et Winnie Enevoldson.
                La société est connue pour ses bracelets personnalisables et leurs breloques (charms), qui représentent la majorité de son chiffre d'affaires....
        </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title"><i class="fa fa-bar-chart-o"></i> Statistique</span>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">12</span></strong> Produits</a>
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">5</span></strong> Pages</a>
                <a href="#" class="list-group-item"><strong><span class="badge badge-info">10</span></strong> Commentaires</a>
            </div>
        </div>

        <div class="panel panel-transparent profile-skills">
            <div class="panel-heading">
                <span class="panel-title">Mot-clefs</span>
            </div>
            <div class="panel-body">
                <span class="label label-primary">Collier élégant</span>
                <span class="label label-primary">Bijoux design</span>
                <span class="label label-primary">Bracelet glamour</span>
                <span class="label label-primary">Bijoux fantaisies</span>
                <span class="label label-primary">Collier </span>
            </div>
        </div>

        <div class="panel panel-transparent">
            <div class="panel-heading">
                <span class="panel-title">Coordonnées</span>
            </div>
            <div class="list-group">
                <p>12 Rue Mandar</p>
                <p>75002 Paris</p>
                <p><i class="profile-list-icon fa fa-phone" style="color: #888"></i> 06 74 58 56 48</p>
                <p><i class="profile-list-icon fa fa-envelope" style="color: #888"></i> dsteiner@example.com</p>
            </div>
        </div>

    </div>
    </div>
    <div class="right-col">

    <hr class="profile-content-hr no-grid-gutter-h">

    <div class="profile-content">

    <ul id="profile-tabs" class="nav nav-tabs">
        <li class="active">
            <a href="#profile-tabs-board" data-toggle="tab"><strong>10</strong> Commandes</a>
        </li>
        <li>
            <a href="#profile-tabs-activity" data-toggle="tab"><strong>5</strong> Commentaires</a>
        </li>
        <li>
            <a href="#profile-tabs-followers" data-toggle="tab"><strong>8</strong> Messages</a>
        </li>
        <li>
            <a href="#profile-tabs-following" data-toggle="tab"><span class="fa fa-star"></span> Mes informations</a>
        </li>
    </ul>

    <div class="tab-content tab-content-bordered panel-padding">
    <div class="widget-article-comments tab-pane panel no-padding no-border fade in active" id="profile-tabs-board">

        <div class="comment">
            <div class="comment-body">
                <div class="comment-text">
                    <div class="comment-heading">
                        <a href="#" title="">Boyer Julien</a> |  <a href="">julien@meetserious.com</a> <span class="pull-right label label-info">11/05/2014</span>
                    </div>
                    <p><i class="fa fa-map-marker"></i> 75 Rue de la Muguette 75008 Paris</p>
                    <p><i class="fa fa-bitcoin"></i> Total: <span class="badge badge-info">175€</span></p>
                    <h2 class="pull-right badge badge-success">Envoyé</h2>
                    <hr class="clear" />
                   <ol class="list">
                       <li> 2 Collier Laura <span class="badge badge-info">55<span class="fa fa-eur"></span></span></li>
                       <li> 1 Bracelet Crystale Bleue <span class="badge badge-info">60<span class="fa fa-eur"></span></span></li>
                       <li> 1 Boucles d'oreilles Printemps <span class="badge badge-info">10<span class="fa fa-eur"></span></span></li>
                   </ol>
                </div>
            </div> <!-- / .comment-body -->
        </div> <!-- / .comment-body -->

        <div class="comment">
            <div class="comment-body">
                <div class="comment-text">
                    <div class="comment-heading">
                        <a href="#" title="">Boyer Florent</a> |  <a href="">florent@gmail.com</a> <span class="pull-right label label-info">10/01/2014</span>
                    </div>
                    <p><i class="fa fa-map-marker"></i> 8 rue Jean Jaures 75002 Paris</p>
                    <p><i class="fa fa-bitcoin"></i> Total: <span class="badge badge-info">55€</span></p>
                    <h2 class="pull-right badge badge-warning">En cours</h2>
                    <hr class="clear" />
                   <ol class="list">
                       <li> 1 Collier Marguerite <span class="badge badge-info">55<span class="fa fa-eur"></span></span></li>
                   </ol>
                </div>
            </div> <!-- / .comment-body -->
        </div> <!-- / .comment-body -->

        <div class="comment">
            <div class="comment-body">
                <div class="comment-text">
                    <div class="comment-heading">
                        <a href="#" title="">Boyer Hélène</a> |  <a href="">helene@gmail.com</a> <span class="pull-right label label-info">20/10/2014</span>
                    </div>
                    <p><i class="fa fa-map-marker"></i> 60 Rue Waston 75011 Paris</p>
                    <p><i class="fa fa-bitcoin"></i> Total: <span class="badge badge-info">75€</span></p>
                    <h2 class="pull-right badge badge-danger">Annulé</h2>
                    <hr class="clear" />
                   <ol class="list">
                       <li> 1 Bracelet glamour <span class="badge badge-info">40<span class="fa fa-eur"></span></span></li>
                       <li> 1 Boucles d'oreilles design <span class="badge badge-info">35<span class="fa fa-eur"></span></span></li>
                   </ol>
                </div>
            </div> <!-- / .comment-body -->
        </div> <!-- / .comment-body -->

        <div class="comment">
            <div class="comment-body">
                <div class="comment-text">
                    <div class="comment-heading">
                        <a href="#" title="">Boyer Nicolas</a> |  <a href="">helene@gmail.com</a> <span class="pull-right label label-info">20/10/2014</span>
                    </div>
                    <p><i class="fa fa-map-marker"></i> 10 Rue Monalisa 75011 Paris</p>
                    <p><i class="fa fa-bitcoin"></i> Total: <span class="badge badge-info">100€</span></p>
                    <h2 class="pull-right badge badge-success">Envoyé</h2>
                    <hr class="clear" />
                   <ol class="list">
                       <li> 1 Bracelet glamour <span class="badge badge-info">40<span class="fa fa-eur"></span></span></li>
                       <li> 1 Boucles d'oreilles design <span class="badge badge-info">35<span class="fa fa-eur"></span></span></li>
                   </ol>
                </div>
            </div> <!-- / .comment-body -->
        </div> <!-- / .comment-body -->



    </div> <!-- / .tab-pane -->
    <div class="tab-pane fade" id="profile-tabs-activity">
        <div class="timeline">
            <!-- Timeline header -->
            <div class="tl-header now">Now</div>

            <div class="tl-entry">
                <div class="tl-time">
                    04/03/2015 <br />à 15:00
                </div>
                <div class="tl-icon bg-warning"><i class="fa fa-envelope"></i></div>
                <div class="panel tl-body">
                    <h4 class="text-warning">Laura Collier </h4>
                    <p>Très beau collier de très belle composition!</p>
                </div> <!-- / .tl-body -->
            </div> <!-- / .tl-entry -->

            <div class="tl-entry">
                <div class="tl-time">
                    02/01/2015 <br />à 14:30
                </div>
                <div class="tl-icon bg-success"><i class="fa fa-envelope"></i></div>
                <div class="panel tl-body">
                    <h4 class="text-success"> Bracelet glamour</h4>
                    <p>Jolie bracelet d'été :)</p>
                </div> <!-- / .tl-body -->
            </div> <!-- / .tl-entry -->


            <div class="tl-entry">
                <div class="tl-time">
                    20/12/2014 <br />à 10:30
                </div>
                <div class="tl-icon bg-success"><i class="fa fa-envelope"></i></div>
                <div class="panel tl-body">
                    <h4 class="text-success"> Collier sautoir rouge</h4>
                    <p>Boutique très originale :)</p>
                </div> <!-- / .tl-body -->
            </div> <!-- / .tl-entry -->


            <div class="tl-entry">
                <div class="tl-time">
                    15/12/2015 <br />à 17h00
                </div>
                <div class="tl-icon bg-success"><i class="fa fa-envelope"></i></div>
                <div class="panel tl-body">
                    <h4 class="text-success"> Collier bleu zaure</h4>
                    <p>Très belles perles nacrées assez tendance!</p>
                </div> <!-- / .tl-body -->
            </div> <!-- / .tl-entry -->

            <div class="tl-entry">
                <div class="tl-time">
                    10/12/2015 <br />à 20h15
                </div>
                <div class="tl-icon bg-success"><i class="fa fa-envelope"></i></div>
                <div class="panel tl-body">
                    <h4 class="text-success"> Sautoir poupée rouge</h4>
                    <p>Très beau sautoir</p>
                </div> <!-- / .tl-body -->
            </div> <!-- / .tl-entry -->



        </div> <!-- / .timeline -->
    </div> <!-- / .tab-pane -->
    <div class="tab-pane fade widget-followers" id="profile-tabs-followers">
        <div class="follower">
            <div class="body">
                <div class="row">
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;Lu</span></a>
                </div>
                </div>
                <a href="#" class="follower-name">Julien Boyer</a><br>
                <a href="#" class="follower-username">@julien@meetserious.com</a>
                <h3>Question Générale</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in orci non nibh ultricies venenatis. Sed laoreet turpis enim, in finibus ante iaculis accumsan. Maecenas metus eros, laoreet ac nulla ut, auctor ultrices lectus. Aenean lacus augue, faucibus imperdiet nunc a, lobortis rhoncus lectus...</p>
                <span class="label label-default pull-right">10/03/2015 à 20h:00</span>
                <div class="row"></div>
            </div>
        </div>
     <div class="follower">
            <div class="body">
                <div class="row">
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-warning"><i class="fa fa-check"></i><span>&nbsp;&nbsp;En cours</span></a>
                </div>
                </div>
                <a href="#" class="follower-name">Florent Boyer</a><br>
                <a href="#" class="follower-username">@florent@gmail.com</a>
                <h3>Problème Produit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in orci non nibh ultricies venenatis. Sed laoreet turpis enim, in finibus ante iaculis accumsan. Maecenas metus eros, laoreet ac nulla ut, auctor ultrices lectus. Aenean lacus augue, faucibus imperdiet nunc a, lobortis rhoncus lectus...</p>
                <span class="label label-default pull-right">02/02/2015 à 18h:00</span>
                <div class="row"></div>
            </div>
        </div>
    <div class="follower">
            <div class="body">
                <div class="row">
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;Lu</span></a>
                </div>
                </div>
                <a href="#" class="follower-name">Hélène Boyer</a><br>
                <a href="#" class="follower-username">@helene@gmail.com</a>
                <h3>Partenariat</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in orci non nibh ultricies venenatis. Sed laoreet turpis enim, in finibus ante iaculis accumsan. Maecenas metus eros, laoreet ac nulla ut, auctor ultrices lectus. Aenean lacus augue, faucibus imperdiet nunc a, lobortis rhoncus lectus...</p>
                <span class="label label-default pull-right">01/02/2015 à 17h:30</span>
                <div class="row"></div>
            </div>
        </div>
    </div> <!-- / .tab-pane -->


    <div class="tab-pane fade widget-followers panel-padding" id="profile-tabs-following">
        <h3><i class="fa fa-pencil"></i> Modifier les informations de la boutique</h3>
        <hr />
        <form action="" class="form">
            <div class="alert alert-dark alert-info row">
                <div class="col-md-6">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-link"></i> A Little Market</label>
                        <input type="text" id="store_backend_product_title" name="store_backend_product[title]" required="required" maxlength="300" pattern="[a-zA-Z0-9- ]{5,}" class="form-control" placeholder="Mettre un titre soigné">
                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-link"></i> DaWanda</label>
                        <input type="text" id="store_backend_product_title" name="store_backend_product[title]" required="required" maxlength="300" pattern="[a-zA-Z0-9- ]{5,}" class="form-control" placeholder="Mettre un titre soigné">
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="store_backend_product_title" class="required">Nom de la boutique</label>
                        <input type="text" id="store_backend_product_title" name="store_backend_product[title]" required="required" maxlength="300" pattern="[a-zA-Z0-9- ]{5,}" class="form-control" placeholder="Mettre un titre soigné">
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <label for="store_backend_product_title" class="required">Type de société</label>
                        <select name="" class="form-control">
                            <option>Aucun</option>
                            <option>SA</option>
                            <option>SARL</option>
                            <option>SAS</option>
                            <option>EURL</option>
                            <option>Freelance</option>
                        </select>
                    </div>
                </div>
                 <div class="col-md-2">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="store_backend_product_title" name="store_backend_product[title]" required="required" class="form-control" placeholder="Email pro/perso">
                    </div>
                </div>



                <div class="col-md-4">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-picture-o"></i> Image</label>
                        <input type="file" id="store_backend_product_title" name="store_backend_product[title]" required="required" maxlength="300" pattern="[a-zA-Z0-9- ]{5,}" class="form-control" placeholder="Mettre un titre soigné">
                    </div>
                </div>
            </div>

                <div class="col-md-2">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-phone"></i> Téléphone</label>
                        <input class="form-control" class="form-control" placeholder="06-XX-XX-XX-XX">
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-link"></i> Website</label>
                        <input class="form-control" class="form-control" placeholder="http://">
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-map-marker"></i> Ville</label>
                        <input class="form-control" class="form-control" placeholder="Paris">
                    </div>
                </div>
                <div class="col-md-1">
                    <div>
                        <label for="store_backend_product_title" class="required">Code postal</label>
                        <input class="form-control" class="form-control" placeholder="75008"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <label for="store_backend_product_title" class="required">Adresse</label>
                        <input class="form-control" class="form-control" placeholder="10 Rue de la Paix">
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-pencil"></i> Description</label>
                        <textarea placeholder="Une belle description soignée" class="form-control"></textarea>
                    </div>
                </div>


                <div class="col-md-6">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-retweet"></i> Retour de produit</label>
                        <textarea class="form-control" placeholder="Vos conditions de retours de produits"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-user"></i> A propos du créateur</label>
                        <textarea class="form-control" placeholder="Votre histoire"></textarea>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-clock-o"></i> Délai d'expédition</label>
                        <input class="form-control" placeholder="En heure (h.)" />
                    </div>
                </div>
                <div class="col-md-10">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-truck"></i> Expédition de colis</label>
                        <textarea class="form-control" placeholder="Processus de transport de colis"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div>
                        <label for="store_backend_product_title" class="required"><i class="fa fa-legal"></i> Mentions Légales</label>
                        <textarea class="form-control" placeholder="Siège social et status"></textarea>
                    </div>
                </div>
                <hr class="clear" />
                <div class="col-md-12">
                    <div>
                        <input type="checkbox" id="store_backend_optin" />
                        <label for="store_backend_optin" class="required">J'accepte de recevoir la newsletter</label>
                    </div>
                </div>
            <div class="row"><br /><br /><br /></div>
            <button class="btn btn-lg btn-primary">
                <i class="fa fa-save"> Enregistrer mes modifications</i>
            </button>
        </form>
    </div> <!-- / .tab-pane -->
    </div> <!-- / .tab-content -->
    </div>
    </div>
    </div>


{% endblock %}


