table th a {
    color: white;
}
table th a:hover {
    color: #18191d;
}
.md-editor>textarea{
    font-family: none;
}
label{
    font-size: 15px;
}
.has-error.dark .help-block{
    border-radius: 0;
}
.theme-default .table{
    margin-bottom: 80px;
}
table.dataTable thead .sorting:after{
    padding-left: 10px;
}
#menu-content-demo{
    padding-left: 10px !important;
}
#menu-content-demo  .text-bg{
    font-size: 13px;
}
