{% extends "StoreBackendBundle::layout_email.html.twig" %}

{% block content %}

    <p>
        Bienvenue, c'est la premiere fois que vous vous connectez sur notre plateforme ! <br />
        Cette plateforme vous permet en toute facilité de gérer votre portail de bijoux simplement et efficacement.
        Découvrez toutes les possibilités et fonctionnalités de la plateforme:<br />
        <ul>
            <li>Gérer votre compte</li>
            <li>Créer votre bijoux en ligne</li>
            <li>Gérer vos catégories</li>
            <li>Gérer vos commandes</li>
            <li>Gérer vos pages</li>
            <li>Gérer vos fournisseurs</li>
        </ul>

        <p><em>Petite astuce: N'hésitez pas à communiquer sur les réseaux sociaux tel que Facebook, Twitter, Pinterest...</em></p>
    </p>

{% endblock %}