{% extends '::base.html.twig' %}



{% block body %}

    <div class="container" style="margin-top:40px">
        <h2>Marché du <strong>Bijoux</strong> ne trouve pas votre page</h2>

        <hr/>

    </div>

{% endblock %}